In [1]:
print("hello")

hello

# ini sesi 1

abcd

# Tipe data di Python

- Integer (int)
- Floating-Point Numbers (float)
- String (str)
- Boolean (bool)

In [2]:
print(1287465)
print(type(3543684365))

1287465
<class 'int'>

In [3]:
print(12.5)
print(type(12.5))
print(12.5e-3) #nulis 12.5 * 10^-3 notasi ilmiah

12.5
<class 'float'>
0.0125

In [4]:
print("Hacktiv8 python's first class..")
print(type("hello"))

Hacktiv8 python's first class..
<class 'str'>

In [5]:
print(True)
print(type(True))
print(type(False))

True
<class 'bool'>
<class 'bool'>

# Pembuatan Variable

In [6]:
message = "Hacktiv8 python's first class.."
sesi = 1
kelas = "Python 061"

In [7]:
print(message)

Hacktiv8 python's first class..

In [8]:
print(sesi)

1

In [9]:
sesi = sesi + 1
print(sesi)

2

In [10]:
print(sesi)

2

In [11]:
a = b = c = 102

In [12]:
print(a)

102

In [13]:
print(b)

102

In [14]:
print(c)

102

In [15]:
print(message, sesi, kelas, a, b, c)

Hacktiv8 python's first class.. 2 Python 061 102 102 102

In [16]:
a = "halo"

In [17]:
print(a)

halo

## cara menamai variable
- snake_case: untuk menamai variable

huruf kecil semua, spasi digantikan _ underscore

- camelCase: untuk menamai functions

huruf kecil semua, kecuali kata berikutnya huruf pertama dibuat kapital, tanpa spasi

- PascalCase

setiap kata huruf pertama kapital, tanpa spasi

# Operator and Expressions in Python

## operator matematika
`+ - * / % **`

## operator komparasi
- == sama atau tidak?
- != tidak sama
- <= lebih kecil atau sama dengan
- \>= lebih besar atau sama dengan

In [18]:
a = 10
b = 20
c = a + b

print(c)

30

In [19]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

30
-10
200
0.5

In [25]:
# modulo, pembagian yang disimpan sisanya saja
print(a % b)
print(5 % 2) # sering digunakan untuk cek angka ganjil/genap
print(20 % 3)
print(8 % 5)

10
1
2
3

In [22]:
# pangkat
print(a ** b)
print(5 ** 2)

100000000000000000000
25

In [27]:
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)
print(a > b)
print(a < b)

False
True
False
True
False
True

## String dimanipulasi

In [30]:
s = "halo"
b = "bandung"

In [31]:
print(s)

halo

In [33]:
print (s + " " + s + " " + b)

halo halo bandung

In [34]:
s = s + " "
print(s)

halo

In [35]:
print(s * 2)

halo halo

In [36]:
print(s * 2 + b)

halo halo bandung

In [38]:
num = 100
print (s * num)

halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo halo

In [41]:
print (s + str(num))
print ("Hacktiv" + str(8))

halo 100
Hacktiv8

In [43]:
print ("Hacktiv" + 8) 
# error karena string tidak bisa dicampur number

TypeError: can only concatenate str (not "int") to str

itu untuk operator string, berikutnya kita pelajari
### expression in string
jika kita print hasil komparator atau expression, kita akan dapat data bentuk Boolean (True atau False)

jika kita print bukan komparator/expression, kita akan dapat raw datanya

In [44]:
message = s * 2 + b
print(message)

halo halo bandung

In [45]:
print("bandung" in "halo halo bandung")
print("bandung" in message)
print(b in message)

True
True
True

### built-in function milik String

In [49]:
message = "halo HALO Bandung 123"
print(message)
print(message.capitalize())
print(message.lower())
print(message.upper())
print(message.swapcase())
print(message.title())

halo HALO Bandung 123
Halo halo bandung 123
halo halo bandung 123
HALO HALO BANDUNG 123
HALO halo bANDUNG 123
Halo Halo Bandung 123

## Tipe Data List

setiap elemen dalam sebuah list punya angka.
angkanya urut dan dimulai dari 0.
nama angka ini adalah INDEX.
INDEX digunakan untuk akses elemen dalam list,
bisa juga untuk mengubah elemen di posisi tersebut.

In [54]:
antrian_indomaret = ["budi", "adi", "cindy", "ana"]

In [55]:
print(antrian_indomaret)

['budi', 'adi', 'cindy', 'ana']

In [53]:
list_campuran = [123, True, [], "halo?", 12.78]
# tidak direkomen, 
# biasakan isi dari sebuah list tipe datanya sama semua

In [56]:
print(antrian_indomaret[1])

adi

In [57]:
antrian_indomaret2 = ["budi", "adi", "cindy", "ana"]

In [58]:
print(antrian_indomaret == antrian_indomaret2)

True

In [59]:
antrian_indomaret2 = ["ana", "adi", "cindy", "budi"]

In [60]:
print(antrian_indomaret == antrian_indomaret2)

False

In [62]:
print(antrian_indomaret[-1])

ana

In [63]:
print(antrian_indomaret[-2])

cindy

In [123]:
# list yang isinya list, namanya "nested"
list_buah = [
    ["apel", "anggur"], 
    ["mangga", "melon"],
    ["semangka"]
]

print(list_buah[0]) # ini dapet list ["apel", "anggur"]
print(list_buah[0][0]) # dapet "apel"

['apel', 'anggur']
apel

In [64]:
# slicing
# membuat list baru dari sebagian list lama
print(antrian_indomaret)

['budi', 'adi', 'cindy', 'ana']

In [65]:
antrian_baru = antrian_indomaret[1:3]
print(antrian_baru)

['adi', 'cindy']

In [67]:
# concatenate +
print(antrian_baru + ["herman"])

['adi', 'cindy', 'herman']

In [68]:
# replication *
print(antrian_baru * 3)

['adi', 'cindy', 'adi', 'cindy', 'adi', 'cindy']

### yuk kita cek properti sebuah list

In [69]:
# len() --> length, untuk cek panjang list nya
print(len(antrian_indomaret))

4

In [71]:
# min() --> minimum
# max() --> maximum
list_nilai = [50, 60, 90, 35]
print(min(list_nilai))
print(max(list_nilai))

35
90

## ubah satu elemen di list

In [73]:
print(antrian_indomaret)
antrian_indomaret[1] = "john"
print(antrian_indomaret)

['budi', 'adi', 'cindy', 'ana']
['budi', 'john', 'cindy', 'ana']

In [74]:
del antrian_indomaret[1]
print(antrian_indomaret)

['budi', 'cindy', 'ana']

In [77]:
antrian = ['a','b','c','d','e','f']

In [78]:
antrian[1:5] = ["G", "H"]
print(antrian)

['a', 'G', 'H', 'f']

# Tuples

tuples mirip dengan list. ada beberapa perbedaan:
- tuples pakai ( )
- tuples itu tidak bisa diubah (immutable)

In [79]:
tuple_alfabet = ('a','b','c','d','e','f')
print(tuple_alfabet) #print tuple
print(tuple_alfabet[1]) #akses dengan index
print(tuple_alfabet[-1])

('a', 'b', 'c', 'd', 'e', 'f')
b
f

In [80]:
tuple_alfabet[1] = 'g'
print(tuple_alfabet)

TypeError: 'tuple' object does not support item assignment

In [82]:
tuple_nilai = (20,50,70,20)
print(len(tuple_nilai))
print(min(tuple_nilai))
print(max(tuple_nilai))

4
20
70

In [88]:
print(tuple_alfabet + tuple_nilai)
print(("a", "malam") * 3)

('a', 'b', 'c', 'd', 'e', 'f', 20, 50, 70, 20)
('a', 'malam', 'a', 'malam', 'a', 'malam')

In [89]:
print(tuple(antrian_indomaret)) # ubah list jadi tuple

('budi', 'cindy', 'ana')

In [90]:
print(list(tuple_alfabet)) # ubah tuple jadi list

['a', 'b', 'c', 'd', 'e', 'f']

# Dictionary

In [93]:
# bikin dictionary pakai { }
# isinya adalah key:value pair
mobil = { 
    "merk": "avanza", 
    "warna": "silver",
    "jumlah_ban": 4,
    "tipe": "automatic"
}

print(mobil)

{'merk': 'avanza', 'warna': 'silver', 'jumlah_ban': 4, 'tipe': 'automatic'}

In [94]:
# major league baseball
mlb_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox'
}

In [95]:
orang = {
    "nama": "andhika",
    "umur": 15,
    "hobi": ["masak", "tidur", "main game"],
    "berkacamata": False
}

In [97]:
# akses value dari sebuah dictionary menggunakan key
print(orang["nama"])
print(orang["umur"])
print(orang["hobi"])
print(orang["berkacamata"])

andhika
15
['masak', 'tidur', 'main game']
False

In [98]:
# nambahin pasangan key:value ke sebuah dictionary
orang["ijazah"] = ["sd", "smp", "sma"]
print(orang)

{'nama': 'andhika', 'umur': 15, 'hobi': ['masak', 'tidur', 'main game'], 'berkacamata': False, 'ijazah': ['sd', 'smp', 'sma']}

In [99]:
print(orang["ijazah"])

['sd', 'smp', 'sma']

In [100]:
# update sebuah value di dictionary
orang["umur"] = 20
print(orang)

{'nama': 'andhika', 'umur': 20, 'hobi': ['masak', 'tidur', 'main game'], 'berkacamata': False, 'ijazah': ['sd', 'smp', 'sma']}

In [101]:
# menghapus sebuah pasangan key:value di dicitonary
del orang["hobi"]
print(orang)

{'nama': 'andhika', 'umur': 20, 'berkacamata': False, 'ijazah': ['sd', 'smp', 'sma']}

In [115]:
orang["nama_orangtua"] = ("Guntur", "Kalisah")
print(orang)

{'nama': 'andhika', 'umur': 20, 'berkacamata': False, 'ijazah': ['sd', 'smp', 'sma'], 'nama_orangtua': ('Guntur', 'Kalisah')}

In [117]:
print(orang["nama_orangtua"])
orang["nama_orangtua"][0] = "Agung" #tidak bisa diubah karena orang["nama_orangtua"] adalah sebuah tuple

('Guntur', 'Kalisah')

TypeError: 'tuple' object does not support item assignment

In [118]:
print(orang["ijazah"])
orang["ijazah"][0] = "tk" #bisa diubah karena orang["ijazah"] adalah sebuah list
print(orang)

['sd', 'smp', 'sma']
{'nama': 'andhika', 'umur': 20, 'berkacamata': False, 'ijazah': ['tk', 'smp', 'sma'], 'nama_orangtua': ('Guntur', 'Kalisah')}

## bikin dictionary pelan pelan satu per satu pasang

In [102]:
orang2 = {}

In [103]:
print(orang2)

{}

In [106]:
orang2["nama"] = "John"
orang2["umur"] = 54
orang2["pasangan"] = "Jane"
orang2["anak"] = ["Ralph", "Betty", "Joey"]

print(orang2)

{'nama': 'John', 'umur': 54, 'pasangan': 'Jane', 'anak': ['Ralph', 'Betty', 'Joey']}

In [107]:
# built-in method dictionary

# kasih lihat semua pasangan key:value dictionary ini
print(orang2.items()) #list isi tuple

dict_items([('nama', 'John'), ('umur', 54), ('pasangan', 'Jane'), ('anak', ['Ralph', 'Betty', 'Joey'])])

In [108]:
# kasih lihat semua key aja
print(orang2.keys()) #list

# kasih lihat semua values aja
print(orang2.values()) #list

dict_keys(['nama', 'umur', 'pasangan', 'anak'])
dict_values(['John', 54, 'Jane', ['Ralph', 'Betty', 'Joey']])

# Line Continuation

code nya panjang ke kanan sampai keluar layar, caranya biar code nya bisa pindah ke baris baru aja, tapi gak error, adalah dengan memakai kurung ( )

In [109]:
umur_andhika = 20
umur_john = 64
umur_jane = 59

seseorang_lansia_diantara_mereka = (umur_andhika >= 60) or (umur_john >= 60) or (umur_jane >= 60)
print(seseorang_lansia_diantara_mereka)

True

In [112]:
seseorang_lansia_diantara_mereka = (
    (umur_andhika >= 60) or 
    (umur_john >= 60) or 
    (umur_jane >= 60)
)
print(seseorang_lansia_diantara_mereka)

True