In [8]:
msg = "PythonForDataScience"

def tambahinSpasi(msg):
    baru = msg[0]
    # cek untuk setiap huruf di dalam str
    for h in msg:
        if (h in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"):
            if (h == msg[0]):
                continue
            baru += " " + h
        else:
            baru += h

    return baru

In [5]:
import numpy as np
import pandas as pd

df = pd.DataFrame(["PythonForDataScience", "Hacktiv8Online"])
df

                      0
0  PythonForDataScience
1        Hacktiv8Online

In [10]:
kolom_baru = []

for row in df[0]:
    data_baru = tambahinSpasi(row)
    print(data_baru)
    kolom_baru.append(data_baru)

Python For Data Science
Hacktiv8 Online

In [12]:
df["new"] = pd.Series(kolom_baru)

df.head()

                      0                      new
0  PythonForDataScience  Python For Data Science
1        Hacktiv8Online          Hacktiv8 Online